/* common */
html{
  font-family:sans-serif;
}
html *{
  margin:auto auto;
}
header{
  margin:0 auto;
  background-color:#e4e4e4;
}
header a{
  text-decoration:none;
}
nav>ul{
  padding:0;
}
nav>ul>li{
  display:inline-block;
  font-size:1.3rem;
  list-style:none outside none;
}

/* general */
.coming-soon{
  color:#888;
}

a{
  color:#111;
  font-weight:bold;
}
a:hover{color:#833;}
a.coming-soon:hover:after{content:" - coming soon";}

/* logo */
.logo{
  fill:#222;
}
.logo:hover{
  fill:#833;
}

/* products */
article.product{
  border:2px solid #bbb;
  border-radius:6px;
  margin:0.5em;
  background-color:#e4e4e4;
  display:inline-block;
}
.product form{
  margin:0.5em;
}

/* makes elements expandable */
.expandable h1{
  padding:0.2em;
  padding-right:0.4em;
  background-color:#d0d0d0;
}
input.expand{
  display:none;
}
input.expand+article.expandable>.expander{
  cursor:pointer;
}
input.expand+article.expandable>.expandee{
  display:none;
}
input.expand:checked+article.expandable>.expandee{
  display:block;
}


/* makes img radio options better; TODO:svg */
label.visual-choice>input[type=radio]{
  display:none;
}
label.visual-choice>input[type=radio] + img{
  cursor:pointer;
  border:2px solid transparent;
}
label.visual-choice>input[type=radio]:checked + img{
  border:2px solid #833
}
